*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

html{
    background:rgba(0, 0, 0, 0.989) ;
    color: white;
}

button{
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    /* border: 2px solid white; */
    width: 95%;
    margin: 0 auto;
    /* align-items: start; */
}
.body-container{
    text-align: left !important;
    height: auto;
    flex-grow: 2;    
    width: 30%;
    border-left: 1px solid #1d9cf077;
    border-right: 1px solid #1d9cf077;
    padding-bottom: 10em;
}


.single-tweet-header{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:1em;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: black;
    border-bottom: 1px solid grey;
}

.EmojiPickerReact{
    position: absolute !important;
    top: 13em;
    right: 0;
    height: 350px !important;
    z-index: 2;
    width: 100%;
    /* bottom: 0; */
}

a,
a:visited,
a:focus,
a:hover
{
    text-decoration: none;
    color: white;
}
.bottom-nav-container{
    background: rgba(0, 0, 0, 0.674);
    border-top: 3px solid #fff;
    border-bottom: 2px solid #1d9bf0;
    width: 100%;
    height: auto;
    padding: 1em;
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: flex;
    left: 0;
    justify-content: space-between;
}

.bottom-nav-container button{
    color: #0b90e9;
}
@media screen and (min-width:500px) , (orientation: landscape) {
    .bottom-nav-container{
        display: none;
    }
       #fab{
        display: none;
    }
}
