.error-container{
    padding: 1em;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.error-container button{
    margin-top: 2em;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0.4em 1em;
    border: none;
    gap: 0.4em;
    background: #1d9bf0;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}