
.chat-container{
    display: flex;
    justify-content: start;
    align-items: start;
}
div.body-container.chat-container{
    overflow: hidden;
    padding: 0em;
}
.chat-container > div{
    border-left: 1px solid grey;
    height: 100dvh;
    /* padding: 1em;     */
    overflow-y: auto;
    /* margin: 0 auto; */
}

.chat-container .contact-list-container{
    flex-grow: 0.1;
    width: 40%;
    /* position: fixed; */
    overflow-y: auto;
}

.chat-container .chat-box{
    flex-grow: 1;
    right: 0;
    padding: 2em;
    height: 100%;
    width: 39%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.chat-box .chat-box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-box .chat-box-body{
    flex-grow: 1;
    overflow-y: auto;
}
.chat-box .chat-box-footer{
    border-top: 1px solid grey;
    padding: 1em;
}
.chat-box .chat-box-footer input{
    flex-grow: 1;
    color: white;
    font-weight: bolder;
    padding: 0.6em 1em;
    background: none;
    border: none;
    outline: none;
}
.chat-box .chat-box-footer > div{
    display: flex;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.251);
}
.chat-container .contact-list{
    padding: 2em;
}
.chat-container p{
    margin: 3em 0;
    color: grey;
}



.contact-list-container .contact-container{
    display: flex;
    /* gap: 0; */
    /* border: 1px solid grey; */
    padding: 0.3em 1em;
    align-items: center;
    /* justify-content: center; */
}
.contact-list-container .contact-container div{
    display: flex;
    gap: 0.0.2em;
    align-items: center;
    padding: 0em;
}
.contact-list-container .contact-container p{
    margin: 1em;
}
