/* .aside{
      position: sticky;
    width: 30%;
    top:7em;
    padding: 1em;
    color: rgb(58, 58, 58);
    height: 80dvh;
    -webkit-position:sticky;
    margin: 0 1.2em;
    overflow: auto;
}
 */


 .aside{
    position: sticky;
    top: 0;
    padding: 1em;
    height: 100dvh;
    flex-grow: 1;
    float: right !important;
    clear: both !important;
    width: 250px;
    margin: 0 2em;
 }

 .aside.aside.left-aside{
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    flex-direction: column;
 }

 .nav-items{
    margin-top: 1em;
 }
 .aside .nav-items li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    text-align: center;
    font-size: 1.18em;
    /* margin: 0.5em auto; */
    letter-spacing: 1px;
    padding: 0.5em;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border-radius: 20px;
    width: auto;
 }

 .aside .nav-items li:hover{
    background: rgba(255, 255, 255, 0.199);
 }

 .aside .nav-items button{
    margin-top:1.7em;
    padding: 0.7em;
    background: #1d9bf0;
    color: white;
    width: 200px;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    cursor: pointer;
 }

 .user-profile{
    /* position: absolute; */
    bottom: 0;
    display: flex;
    align-items: center;
    /* gap: 1em; */
    justify-content: space-between;
    gap: 2em;
    padding-bottom: 1em;
    /* width: 100%; */
    cursor: pointer;
    border-radius: 50px;
    padding: 0.5em;
    transition: all 0.5s;
    margin: 2.3em 0;
 }
 .user-profile:hover{
    background: rgba(255, 255, 255, 0.095);
 }

 .search-box{
    display: flex;
    width: 100%;
    background: rgba(128, 128, 128, 0.4);
    padding: 0.8em;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    position: sticky;
    top: 0;
 }

 .search-box input{
    background: none;
    border: none;
    width: 100%;
    outline: none;
    color: white;
 }

 @media screen and (max-width:920px) {
    .aside.right-aside{
        display: none;
    }
    .aside{
      flex-grow: 0;
    }
     .nav-items li span{
        display: none;
    }
    .aside.left-aside button{
      width: 100%;
    }
    .user-profile div:nth-child(2){
      display: none;
    }

    .aside.left-aside{
        display: flex;
        align-items: end;
    }
    .aside{
      width: 15%;
      overflow-x: hidden;
      flex-grow: 0.1;
    }
 }
 @media screen  and (max-width:500px){
    .aside.left-aside{
        display: none !important;
    }
    .aside{
      flex-grow: 0;
    }
 }
.box{
    margin: 1.54em auto;
    background: rgba(128, 128, 128, 0.4);
    padding: 1em;
    border-radius: 20px;
 }