
.tabs-container{
    padding: 1em 0 0 0;
    background: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(15px);
    width: 100%;
    position: sticky;
    top: 0;
    border: 1px solid #1d9cf01e;
    z-index: 9;
}
.tabs-container button{
    width: 100%;
    float: left;
    padding: 1em;
    background: none;
    color: rgb(192, 190, 190);
    border: none ;
    font-weight: bold;
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    border-radius: 5px;
}
.tabs-container button:hover{
    background: #1d9cf01e;
}
