/* .loading-blur-bg{
    position: absolute;
    background: rgba(8, 8, 8, 0.019);
    width: 56dvw;
    z-index: 99999;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(20, 158, 244, 0.333);
} */