.post-container{
    margin-top: 1em;
    border-top: 1px solid #1d9cf048;
    border-bottom: 1px solid #1d9cf04b;
    padding: 1em;
    cursor: pointer;
    width: 100%;
    /* transition: all .5s ease-in-out; */
}

.post-container:hover{
    background: #1d9cf005;
}

.post-header{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2em;
}

.post-reactions{
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
}
.post-reactions div > *{
    font-size:0.9em;
}

.post-reactions button  *{
    font-size: 0.8em;
}
.post-body{
    margin-left: 3.2em;
}