.post-container{
    margin-top: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.449);
    border-bottom: 1px solid rgba(255, 255, 255, 0.449);
    padding: 1em;
    cursor: pointer;
    width: 100%;
    transition: all .5s ease-in-out;
}

.post-container:hover{
    background: rgba(128, 128, 128, 0.091);
}

.post-header{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2em;
}

.post-reactions{
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
}
.post-reactions div > *{
    font-size: 0.9em;
}

.post-body{
    margin-left: 3.2em;
}